# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env
.env*.local

# Vercel / Turbo / Build caches
.vercel/
.turbo/
dist/
coverage/

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

